body{
    background-image: url(bg1.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
   

}

    

nav{
    height:15px;
    width: 100%;
    /*background-color: darkseagreen;*/

    font-size: 25px;
    margin-bottom: 100px;
    
}
li{
    list-style-type: none;
    float: left;
    margin: 2%;
    color: rgb(243, 130, 207);
    
}
a{ 
    text-decoration: none;
    color:white;
}
a:hover{
    color:rgb(202, 21, 120);
}
/*div{
    height: 250px;
    width: 100%;
   /* background-color: rgb(196, 189, 186);
    margin-top: 900px;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 15px;}*/

section{
    height: 200px;
    width: 100%;
   /* background-color: rgb(153, 141, 141);*/
    display: flex;
    margin-top: 450px;
    
}
/* #one img{ 
    height: 200px;
    width: 80%;
    margin-left: 10px;
    margin-top: 20px;      
    box-shadow: 10px 5px 12px rgb(204, 198, 198);
    
 }*/

#one,#two,#three,#four img{
    width: 25%;
    margin-left: 5px;
    margin-top: 20px;
    box-shadow: 10px 5px 12px rgb(179, 175, 175);
    border: 5px solid black;
}  
/*h1{
    font-size: 50px;
    text-align: center;
   
}*/

    
